@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

body {
    background-color: rgb(175, 165, 165);
}

body img {
    width: 100%;
    height: 900px;
    opacity: 60%;
    border-radius: 20px;           
}

#color-palette {
    position: absolute;
    top: 150px;
    margin-left: 36.5%;
}

.color {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    border-radius: 100%;
}

h1 {
    position: absolute;
    top: 10px;
    text-decoration: underline;
    margin-left: 36.5%;
    font-size: 60px;
    font-family: 'Lobster', cursive, 'Pacifico', cursive;
    display: block;
}

#button-random-color {
    position: absolute;
    padding: 8px, 8px;
    top: 260px;
    left: 587px;
    border-radius: 10px;
    border: 1px solid black;
    width: 90px;
    height: 50px;
    background-color: rgb(75, 83, 83);
    font-family: 'Lobster', cursive, 'Pacifico', cursive;
    font-size: 15px;
    color: white;
}

#reset {
    position: absolute;
    padding: 5px;
    top: 260px;
    left: 670px;
    border-radius: 10px;
    border: 1px solid black;
    width: 80px;
    height: 40px;
    background-color: rgb(75, 83, 83);
    font-family: 'Lobster', cursive, 'Pacifico', cursive;
    color: white;
    display: block;
}

#bordaInput {
    position: absolute;
    padding: 5px;
    top: 320px;
    left: 530px;
    border-radius: 15px;
    width: 300px;
    height: 80px;
    text-align: justify;
    padding-top: 10px;
    display: inline-block;
}

#generate-board {
    position: absolute;
    padding: 5px;
    left: 200px;
    border-radius: 10px;
    border: 1px solid black;
    width: 80px;
    height: 40px;
    background-color: rgb(75, 83, 83);
    font-family: 'Lobster', cursive, 'Pacifico', cursive;
    color: white;
    
}

#pixel-board {
    width: 210px;
    height: 230px;
    position: absolute;
    top: 350px;
    margin-left: 520px;
}

.pixel {
   border: 1px solid black;
   display: inline-flex;
   flex-direction: row;
   height: 40px;
   width: 40px;
   background-color: white;
   border-radius: 100%;
}